<%= turbo_frame_tag "edit-players" do %>
  <% if @player.leader_status %>
    <%= render "edit_form" %>
  <% else %>
    <p>Waiting for <%= @leader.name %> to pick new leader... </p>
  <% end %>
<% end %>
